.image-container {
  position: relative;
}
.annotation-container {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
}
.outline {
  position: absolute;
  pointer-events: none;
  color: transparent;
}
.outline:hover,
.outline:focus {
  color: rgba(255,255,0,.1);
  outline: none;
}
.outline > polygon {
  pointer-events: fill;
}
.outline:not(:hover):not(:focus) + .tooltip {
  visibility: hidden;
}
.tooltip {
  position: absolute;
  margin-top: 6px;
  background: white;
  border: 1px solid black;
  font-family: sans-serif;
  padding: 2px;
  white-space: pre;
  z-index: 1;
}