.image-container {
  position: relative;
}
.annotation-container {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
}
.annotation {
  position: absolute;
  width: 0;
  height: 0;
}
.annotation:focus {
  outline: none;
}
.outline {
  pointer-events: none;
  color: transparent;
}
.annotation:hover > .outline,
.annotation:focus > .outline {
  color: rgba(255,255,0,.1);
}
.outline > polygon {
  pointer-events: fill;
}
.annotation:not(:hover):not(:focus) > .tooltip-root {
  visibility: hidden;
}
.tooltip-root {
  position: absolute;
  left: 0;
  height: 18px;
  margin-top: -12px;
}
.tooltip {
  position: absolute;
  left: 0;
  top: 100%;
  background: white;
  border: 1px solid black;
  font-family: sans-serif;
  padding: 2px;
  white-space: pre;
  z-index: 1;
}