.image-container {
  position: relative;
}
.annotation {
  position: absolute;
}
.annotation-tooltip-root {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 0;
}
.annotation:not(:hover) > .annotation-tooltip-root {
  visibility: hidden;
}
.annotation-tooltip {
  position: relative;
  top: 6px;
  background: white;
  border: 1px solid black;
  font-family: sans-serif;
  padding: 2px;
  white-space: pre;
  z-index: 1;
}