.image-container {
  position: absolute;
}
.annotation-unselect {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
.annotation-container {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
}
.annotation {
  position: absolute;
  visibility: hidden;
}
[name=annotation-select] {
  position: absolute;
  pointer-events: none;
  opacity: 0;
  visibility: visible;
  height: 100%;
}
.outline {
  position: relative;
  visibility: visible;
  pointer-events: none;
  color: transparent;
}
.annotation:hover > .outline,
[name=annotation-select]:focus ~ .outline {
  color: rgba(255,255,0,.1);
}
.outline > polygon {
  pointer-events: fill;
}
.annotation:hover > .tooltip-root,
[name=annotation-select]:checked ~ .tooltip-root {
  visibility: visible;
}
.tooltip-root {
  margin-top: -12px;
  padding-top: 18px;
}
.tooltip {
  position: relative;
  background: white;
  border: 1px solid black;
  font-family: sans-serif;
  white-space: pre;
  z-index: 1;
}
.tooltip > * {
  display: block;
  padding: 4px;
}
.tooltip > a {
  font-size: 75%;
}
