.image-container {
  position: absolute;
}
[name=annotation-select] {
  position: absolute;
  pointer-events: none;
  opacity: 0;
  visibility: visible;
  height: 100%;
}
[name=annotation-select]:focus + img {
  outline: 1px dotted #212121;
}
.annotation-container {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
}
.annotation {
  position: absolute;
  visibility: hidden;
}
.outline {
  position: relative;
  visibility: visible;
  pointer-events: none;
  color: transparent;
}
.outline > polygon {
  pointer-events: fill;
}
.annotation:hover > .outline > polygon,
[name=annotation-select]:checked ~ .outline > polygon {
  fill: rgba(255,255,0,.1);
}
[name=annotation-select]:focus ~ .outline > polygon {
  fill: rgba(255,255,0,.3);
  stroke-width: 3px;
}
.annotation:hover > .tooltip-root,
[name=annotation-select]:checked ~ .tooltip-root {
  visibility: visible;
}
.tooltip-root {
  margin-top: -12px;
  padding-top: 18px;
}
.tooltip {
  position: relative;
  background: white;
  border: 1px solid black;
  font-family: sans-serif;
  white-space: pre;
  z-index: 1;
}
.tooltip > * {
  display: block;
  padding: 4px;
}
.small {
  font-size: 75%;
}
